doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300", rel="stylesheet")
		link(href='css/main.css', rel='stylesheet')

		title Параллакс
	body
		.wrapper
			.animate-top
				.logo
					hgroup
						h1 LOGO
						span slogan
				.animate-top__least
				.butterfly
				.animate-top__birds

			.blur__form-wrapper
				.blur__form



	block content
	script(src="js/main.js")