doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300", rel="stylesheet")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(rel="icon" href="favicon.ico" type="image/x-icon")
		link(href='css/main.css', rel='stylesheet')

		title Параллакс
	body
		.wrapper
			.animate-top
				.circle
					- for (var i=0; i < 5; i++)
						.circle__item
							.circle__inner
				.logo
					hgroup
						h1 LOGO
						span slogan
				.animate-top__least
				.animate-top__birds

				.butterfly
					.butterfly__left
					.butterfly__right
				.butterfly-two
					.butterfly-two__radial
						.butterfly-two__body
						.butterfly-two__leftwing
						.butterfly-two__rightwing
			.flower
				.flange
					.flange__petal-wrapper
						- for (var i=0; i < 12; i++)
							.flange__petal
					.flange__core
				include block/svg.pug
				.grass

			.parallax
				.parallax__inner
					img(src="images/bg.jpg", class="parallax__hidden")
					.parallax__layer
						img(src="images/bg.jpg", class="parallax__bg")
					.parallax__layer
						img(src="images/brights.png", class="parallax__brights")
					.parallax__layer
						img(src="images/bg-border.png", class="parallax__bg-border")
					.parallax__layer
						img(src="images/bright.png", class="parallax__bright")
					.parallax__layer
						img(src="images/circle.png", class="parallax__circle-1")
					.parallax__layer
						img(src="images/circle.png", class="parallax__circle-2")
					.parallax__layer
						img(src="images/circle.png", class="parallax__circle-3")
					.parallax__layer
						img(src="images/butterfly_bottom.png", class="parallax__butterfly")
					

	block content
	script(src="js/main.js")