html {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1;
  font-size: 16px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #FBFBFB;
}
header, section, footer, aside, nav, main, article, figure {
  display: block;
}
*, *:before, *:after {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5 {
  margin: 0;
  font-weight: bold;
}
ul {
  padding: 0;
  margin: 0;
  list-style: 0;
}
p {
  margin: 0;
}
.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}